* text=auto eol=lf
*.sh text eol=lf
*.php text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.neon text eol=lf
*.md text eol=lf
Dockerfile* text eol=lf
.rr.yaml text eol=lf
.env.example text eol=lf
Makefile text eol=lf
